<!DOCTYPE html>
<html lang="en">
<head>

    <title>Learner's Language Academy</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
    <script src="https://kit.fontawesome.com/34d3e5b04d.js" crossorigin="anonymous"></script>


</head> 
<body>
    <header>
            <div class="header-content flex-design">
               <div class="logo">
            <img src="../static/images/logo.jpg" alt="LLA">
               </div>
        <ul class="nav-links flex-design">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="courses.html">courses</a></li>
             <li><a href="formfile.html">Contact</a></li>
         </ul>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="text-center">
            <p>Welcome To</p>
            <h1>Learner's Language Academy</h1>
            <a class="btn" href="#">Register Here</a>
        </div>
    </header>
     <!--header-ends-->
                 
      <main>
       <section class="about-us mt mb">
           <div class="about-us-text content">
            <div class="about-us-heading heading">
                <h2>ABOUT-US</h2>
           </div>
         <div class="about-us-content">
           <p>Learner's Language Academy was established in 2022 with the intention to provide the right guidance to students who are career minded and ambitious.
               LLA has always gone that extra mile to ensure that students have the best Technical Trainer(K.AJITHA) to teach them 
               as also the right ambiance to set the backdrop for the best learning experiance. We make sure that our academy 
               set a bench mark in quality and standard. <br><br>
               we have four compact learning centers in Coimbature,Bangalore,Tirunelveli and Chennai.
               We will assist to get job in these companies <b>ZOHO,HCL,INFOSYS,ALPHARIVE TECH,SPM HR,OSIZ TECHNOLOGIES,BEZOH MINDS</b>          
               When students come to LLA, they get the assurance of expertise,commitment and dedication.<br><br><br>

               <h3>Concept of LLA</h3>
            LLA is a  laeding service to provider to students preparing for Placement Exams.Our Academy provides for various facilities to 
                   the students.Traditionally “Academy” referred to a garden or grove near Athens called Akademia (so named after the hero Academus) and a sanctuary of Athena, the goddess of wisdom and skill, where Plato founded his school of philosophy approximately in 385 BC and where he held philosophical conferences with his followers.<br><br> Today, it means an institute of higher learning of quality and standard. We are happy  LLA
                    has proved itself to be a true academy of learning and culture. Our ultimate intention is to partner mainline education providers with expertise in education that is in line with market realities and expectations thereby ensuring that the students get a well rounded education and the best possible opportunities to prepare them for a fulfilling life.
         </p>
          </div>
     </div>
       </section>


       <section class="our-students mt mb">
        <div class="our-students-heading heading">
            <h2>LLA</h2>
        </div>
        <div class="our-students-content content">
            <div class="student flex-design">
                <div class="student-img">
                    <img src="../static/images/online.jpg" alt="Online">
                </div>
                <div class="student-text">
                    <p>Our classes are through the ONLINE.Students are having the mobile phones and laptops for attending the online classes.<br>
                    Laptop is must for doing the assignments and tests because the 
                    course is practical. so doing the practical in your laptops.
                </p>
                </div>
            </div>

            <div class="student flex-design">
                <div class="student-img">
                    <img src="../static/images/batch.png" alt="batch">
                </div>
                <div class="student-text">
                    <p>LLA has totally  Batches.We are starting the fresh batches continously.When we start the new batch there is Free demo
                        classes for 2 Days.If you are Join as a 5 Members Team you will get  !0% OFF.
                </p>
                </div>
            </div>
        </div>
    
    </section>

    <section class="map mt mb">
        <div class="map ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15777.596644189754!2d77.70444653499767!3d8.653533325868375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0412c3894c2e11%3A0xa014ebaa11eba3cb!2sCaussanelpuram%2C%20Kongandanparai%2C%20Tamil%20Nadu%20627007!5e0!3m2!1sen!2sin!4v1688026853345!5m2!1sen!2sin" width="100%" height="300vh" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
</section>
</main>

  <!--footer-starts-->
     <footer>
        <div class="footer-content mt">
            <div class="footer-top ">
               <div class="footer-top-container content flex-design">
                <div class="footer-logo">
    
                    <img src="../static/images/logo.jpg" alt="LLA">
                 </div>
                    <div class="footer-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="courses.html">courses</a></li>
                        <li><a href="formfile.html">Contact</a></li>
                    </div>
                       <div class="footer-academy">
                        <h3>Learner's Language Academy</h3>
                        <p>We are the Institute for "Python Developers"</p>
                       </div>
            </div>
        </div>
               </div>
            <div class="footer-bottom">
                <p>Copyright &copy;LLA</p>
            </div>
        </div>
     </footer>
