<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learner's Language Academy</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
    <script src="https://kit.fontawesome.com/34d3e5b04d.js" crossorigin="anonymous"></script>


</head> 
<body>
    <header>
            <div class="header-content flex-design">
               <div class="logo">
            <img src="../static/images/logo.jpg" alt="LLA">
               </div>
        <ul class="nav-links flex-design">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="courses.html">courses</a></li>
           <li><a href="formfile.html">Contact</a></li>
         </ul>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="text-center">
            <p>Welcome To</p>
            <h1>Learner's Language Academy</h1>
            <a class="btn" href="#">Register Here</a>
        </div>
    </header>

    <!-- header-end -->
        <main>
            <section class="course-table-section mt mb content">
                <div class="course-table-heading heading">
                    <h2>CHECK OUR TOPICS NOW</h2>
                </div>
                <div class="course-table-content content">
                   <table class="course-table">
                     <tr>
                         <th>S.NO</th>
                         <th>Topics Name</th>
                         
                     </tr>
                     <tr>
                        <td>1</td>
                        <td>Python</td>
                        <!-- <a href="#">Click</a></td> -->
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>HTML</td>
                        <!-- <td><a href="#">Click</a></td> -->
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>CSS</td>
                        <!-- <td><a href="#">Click</a></td> -->
                     </tr>
                     <tr>
                        <td>4</td>
                        <td>Bootstrap</td>
                        <!-- <td><a href="#">Click</a></td> -->
                     </tr>
                     <tr>
                        <td>5</td>
                        <td>Django</td>
                        <!-- <td><a href="#">Click</a></td> -->
                     </tr>
                     <tr>
                        <td>6</td>
                        <td>jQuery</td>
                        <!-- <td><a href="#">Click</a></td> -->
                     </tr>
                   </table>
                </div>
            </section>



            <section class="info-center mt mb">
                <div class="info-center-heading heading">
                    <h2>OUR INFORMATION CENTERS</h2>
                </div>
                <div class="info-center-content content">
                          <div class="center">
                            <p>
                                <i class="fa-solid fa-location-dot"></i>Coimbature
                            </p>
                          </div>
                          <div class="center">
                            <p>
                                <i class="fa-solid fa-location-dot"></i>Bangalore
                            </p>
                          </div>
                          <div class="center">
                            <p>
                                <i class="fa-solid fa-location-dot"></i>Tirunelveli
                            </p>
                          </div>
                          <div class="center">
                            <p>
                                <i class="fa-solid fa-location-dot"></i>Chennai
                            </p>
                          </div>
                </div>
            </section>

        </main>
   

    <!-- footer-starts -->


    <footer>
        <div class="footer-content mt">
            <div class="footer-top ">
               <div class="footer-top-container content flex-design">
                <div class="footer-logo">
    
                    <img src="../static/images/logo.jpg" alt="LLA">
                 </div>
                    <div class="footer-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="courses.html">courses</a></li>
                        <li><a href="formfile.html">Contact</a></li>
                    </div>
                       <div class="footer-academy">
                        <h3>Learner's Language Academy</h3>
                        <p>We are the Institute for "Python Developers"</p>
                       </div>
            </div>
        </div>
               </div>
            <div class="footer-bottom">
                <p>Copyright &copy;LLA</p>
            </div>
        </div>
     </footer>