<!DOCTYPE html>
<html lang="en">
<head>
    

    
    <title>Learner's Language Academy</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
    <script src="https://kit.fontawesome.com/34d3e5b04d.js" crossorigin="anonymous"></script>


</head> 
<body>

    <header>
            <div class="header-content flex-design">
               <div class="logo">
            <img src="../static/images/logo.jpg" alt="LLA">
               </div>
        <ul class="nav-links flex-design">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="courses.html">courses</a></li>
            <li><a href="formfile.html">Contact</a></li>
         </ul>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="text-center">
            <p>Welcome To</p>
            <h1>Learner's Language Academy</h1>
            <a class="btn" href="formfile.html">Register Here</a>
        </div>
    </header>

    <main>
        <section class="wwa content mt mb">
            <div class="heading mb">
                <h2>Who we are</h2>
            </div>
            <div class="wwa-content flex-design">
                <div class="vision wwa-box">
                    <h3>LLA</h3>
                    <p> The Institute  for
                        <br><b>"PYTHON  DEVELOPERS"</b></p>
                </div>
                <div class="mission wwa-box">
                    <h3>Python course</h3>
                    <p>Full Stack <br>Development Courses</p>
                </div>
                <div class="whomweare wwa-box">
                    <h3>Free demo classes</h3>
                    <p>  2 days by <br>Technical Trainer 
                    </p>
                </div>
            </div>
        </section>

        <!-- facilities -->

        <section class="facilities">
           
                <div class="fac-haeding  heading">
                  <h2>OUR FACILITIES</h2>
                </div>
                <div class="fac-content content">
                     <div class="fac">
                        <div class="fac-image">
                            <img src="../static/images/english.jpg "  alt="Spoken English">
                         </div>
                         <div class="fac-text">
                            <h3>Spoken English Class</h3>
                            <p>Free class <br>for  10 Days</p>
                         </div>
                     </div>
                     <div class="fac"> 
                        <div class="fac-image">
                            <img src="../static/images/quiz.jpg" alt=" quiz">
                         </div>
                         <div class="fac-text">
                            <h3>Quiz Competition</h3>
                            <p>Monthly Twice <br>
                            Get Excitement Prizes</p>
                         </div>
                     </div>
                     <div class="fac">
                        <div class="fac-image">
                            <img src="../static/images/exam.png" alt="exam">
                         </div>
                         <div class="fac-text">
                            <h3>Test</h3>
                            <p>Online Test<br>
                            with placement questions </p>
                         </div>
                     </div>
                    </div>
             </section>
         </main>

      
<!--footer starts-->
         <footer>
            <div class="footer-content mt">
                <div class="footer-top ">
                   <div class="footer-top-container content flex-design">
                    <div class="footer-logo">
        
                        <img src="../static/images/logo.jpg" alt="LLA">
                     </div>
                        <div class="footer-links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="courses.html">courses</a></li>
                            <li><a href="formfile.html">Contact</a></li>
                        </div>
                           <div class="footer-academy">
                            <h3>Learner's Language Academy</h3>
                            <p>We are the Institute for "Python Developers"</p>
                           </div>
                </div>
            </div>
                   </div>
                <div class="footer-bottom">
                    <p>Copyright &copy;LLA</p>
                </div>
            </div>
         </footer>


    <script src="app.js"></script>

</body>
</html>
